.row
  .col-xs-12.col-md-8.col-md-offset-2.page-header
    %h1.text-center #{h account_title}

.row
  .col-md-4
    = haml :treegrid_account, :locals => {account: account, summary: summary, page: 'account'}

  .col-md-8
    .row
      .accounts_balances
    %hr
    .row
      .accounts_variations
    %hr
    .row
      %p.text-center.lead= t('text.transactions').capitalize
      = haml :transactions_table, :locals => {monthly_register: monthly_register, account: account}
      %p.text-center<
        %a{href: url("/#{t 'text.transactions'}/#{h(account)}")}<
          %span.glyphicon.glyphicon-plus

= haml :highcharts_global

- expenses_values = expenses.first[1].map{|e| e[1] * -1}
- incomes_values = incomes.first[1].map{|e| e[1] * -1}
- variations_values = variations.first[1].map{|e| e[1]}
- values = [*expenses_values, *incomes_values, *variations_values].sort()
- bounds = [ [values.percentile(5), 0].min(), [values.percentile(95), 0].max() ]

:javascript
  $(document).ready(function() {
    $('.tree').treegrid();

    $('.accounts_balances').highcharts({
      title: { text: '#{t 'text.balance'}' },
      credits: { enabled: false },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { day: '#{t 'date.formats.month_and_year'}', month: '#{t 'date.formats.month_and_year'}', year: '#{t 'date.formats.month_and_year'}' },
        title: { text: null }
      },
      yAxis: {
        title: { text: null },
        min: 0,
        max: 150000,
      },
      tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        valueDecimals: #{settings.decimals},
        valuePrefix: '#{h settings.value_prefix}',
        valueSuffix: '#{h settings.value_suffix}',
        pointFormat: '{point.x:#{t 'date.formats.month_and_year'}}#{t 'text.punct_sep'}: {point.y}'
      },

      plotOptions: {
        spline: {
          marker: {
            enabled: true
          }
        },
        series: {
          animation: false
        }
      },
      series: [
        #{highcharts_series(balances, chart_type: 'spline')}
      ]
    });

    $('.accounts_variations').highcharts({
      title: { text: '#{t 'text.cash_flow'}' },
      credits: { enabled: false },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { day: '#{t 'date.formats.month_and_year'}', month: '#{t 'date.formats.month_and_year'}', year: '#{t 'date.formats.month_and_year'}' },
        title: { text: null }
      },
      yAxis: {
        title: { text: null },
        min: #{bounds[0]},
        max: #{bounds[1]},
      },
      tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        valueDecimals: #{settings.decimals},
        valuePrefix: '#{h settings.value_prefix}',
        valueSuffix: '#{h settings.value_suffix}',
        pointFormat: '{point.x:#{t 'date.formats.long'}}#{t 'text.punct_sep'}: {point.y}'
      },
      legend: { enabled: true },
      plotOptions: {
        spline: {
          marker: {
            enabled: false
          }
        },
        line: {
          marker: {
            enabled: false
          }
        },
        series: {
          animation: false
        }
      },
      colors: ['#FF0000', '#00FF00', '#0000FF', '#000000'],
      series: [
        #{highcharts_series(expenses, negate: true, chart_type: 'column')},
        #{highcharts_series(incomes, negate: true, chart_type: 'column')},
        #{highcharts_series(variations, negate: false, chart_type: 'line')},
        #{highcharts_series(variations, negate: false, avg_type: :sma, avg_tail: 6, chart_type: 'line')}
      ]
    });
  });
