%table.table.tree.table-hover.table-condensed
  - treegrid_parents = {}
  - summary.each_with_index do |a, i|
    - treegrid_parents[a[:level]] = i
    - cls = ["treegrid-#{i}"]
    - if a[:level] > 0
      - cls.push "treegrid-parent-#{treegrid_parents[a[:level] - 1]}"
    %tr{:class => cls}<
      %td<
        %a{href: url("/#{page}/#{a[:fullname]}")} #{a[:name]}
      %td.money> #{money(a[:amount])}
